
<tr>
    <td><%= product.id%></td>
    <td><%= link_to(product.title, admin_product_path(product)) %></td>
    <td><%= image_tag(product.image.thumb.url.to_s)%></td>
    <td><%= product.description %></td>
    <td><%= product.quantity %></td></td>
    <td><%= product.price %></td></td>
    <td>
        <%= link_to("Edit", edit_admin_product_path(product), class: "btn btn-sm btn-default")%>
        <%= link_to("Delete", admin_product_path(product),    class: "btn btn-sm btn-default", 
                    method: :delete, data: { confirm: "Are you sure?" } )%>
    </td>
    <td><%= product.created_at %></td></td>
</tr>
 