<div class="col-md-12">
  
  <h2><%= @product.title %></h2>
  <p>description: <%= @product.description %></p>
  <p>price: <%= @product.price %></p>
  <p>quantity: <%= @product.quantity %></p>
  <p>created_at: <%= @product.created_at %></p>

</div>